<div class="container text-center col-lg-8 col-lg-offset-2">
    <h3>{{ 'myAds.title' | translate }}</h3>
    <div class="row">
        <div *ngIf="!adverts.length" class="text-center">{{ 'myAds.noAds' | translate }}</div>

        <div *ngFor="let e of adverts | paginate: { itemsPerPage: count, currentPage: p }" class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-thumbnail" src="../../assets/img/tree-1439369_1280.jpg" alt="...">
                <div class="caption">
                    <h3>{{e.title}}</h3>
                    <p>Update at  : {{e.lastUpDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                    <p>From : {{e.username}}</p>
                    <p>Address : {{e.address}}</p>
                    <!--<p>{{e.jobPlace}}</p>-->
                    <p>Date : {{e.startDate | date: 'dd/MM/yyyy'}}</p> <!--<p>{{e.startDate | date: 'dd/MM/yyyy à HH:mm'}}</p>-->
                    <p>{{e.animals.length}} animal(s)</p>
                    <!--   <div *ngFor="let a of e.animals">
                    <p>Name : {{a.animalName}} ({{a.animalType}})</p>
                </div>-->
                    <p><a href="#" routerLink="/viewAd" class="btn btn-primary" role="button" (click)="open(e)">Go</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="pagination justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>