<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <a class="navbar-brand" [routerLink]="'/home'">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--    <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/find'">Find around <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/login'">Log In <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/create'">Create Account <span class="sr-only">(current)</span></a>
            </li>
           <!-- <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/ad'">{{ 'NAV.ann' | translate }}<span
                        class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ 'NAV.ann' | translate }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="'/showAds'">{{ 'NAV.drop1' | translate }}</a>
                    <a class="dropdown-item" [routerLink]="'/ad'">{{ 'NAV.drop2' | translate }}</a>
                 <!--   <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </li>
          <!--  <li class="nav-item active">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01"> {{ 'HOME.SELECT' | translate }} : </label>
                </div>
            </li>
            <li class="nav-item dropdown">
                <select class="custom-select" #langSelect (change)="translate.use(langSelect.value)">
                    <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                        [selected]="lang === translate.currentLang" class="dropdown-item">
                        {{ lang }}</option>
                </select>
            </li> -->
        </ul>
        <!--  <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>