<div class="container">
    <div class="row justify-content-start">
        <button class="btn btn-secondary"><a [routerLink]="['/']">retour</a></button>
    </div>
    <h1>Registration</h1>

    <form [formGroup]="profilForm" (ngSubmit)="saveUser()">
        <div class="form-group">
            <label for="email">{{ 'HOME.EMAIL' | translate }}</label>
            <input formControlName="email" id="email" class="form-control" />
            <control-messages [control]="profilForm.get('email')"></control-messages>
        </div>
        <div class="form-group">
            <label for="password">{{ 'HOME.PWD' | translate }}</label>
            <input type="password" formControlName="password" id="password" class="form-control" />
            <control-messages [control]="profilForm.get('password')"></control-messages>

        </div>
        <div class="float-right">
            <button type="submit" class="btn btn-success" [disabled]="!profilForm.valid">Submit</button>
            <button type="button" class="btn btn-primary" (click)="onReset()">Reset</button>
        </div>
    </form>
</div>