<div class="row justify-content-start">
    <button class="btn btn-secondary m-1"><a [routerLink]="['/']">retour</a></button>
</div>
<h1>Registration</h1>

<form [formGroup]="profilForm" (ngSubmit)="saveUser()">
    <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" id="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && returnControl.email.errors.required }" />
            <control-messages [control]="profilForm.get('email')"></control-messages>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && returnControl.password.errors }" />
            <control-messages [control]="profilForm.get('password')"></control-messages>
           
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!profilForm.valid">Submit</button>
    <button type="text" class="btn btn-primary" (click)="onReset()">Reset</button>
</form>