<div class="container text-center col-lg-8 col-lg-offset-2">

    <div id="alertMsg" class="alert alert-danger" role="alert" style="display: none;">{{ errorMsg }}</div>
    <div id="main">
        <h5>{{announcement.title}}</h5>
        <p><b>From : </b> {{announcement.username}}</p>
        <p *ngIf="announcement.email"><b>Contact : </b> {{announcement.email}}</p>
        <p *ngIf="announcement.address"><b>Address : </b> {{announcement.address}}</p>
        <p><b>At : </b> {{announcement.jobPlace}}'s place</p>
        <p><b>Date start at : </b> {{announcement.startDate | date: 'dd/MM/yyyy'}}</p>
        <p><b>To : </b> {{announcement.endDate | date: 'dd/MM/yyyy'}}</p>
        <p><b>{{announcement.animals.length}} animal(s)</b></p>
        <ul *ngFor="let a of announcement.animals">
            <li><b>Name : </b> {{a.animalName}} ({{a.animalType}})</li>
            <li *ngIf="a.indication"><b>Indications : </b> {{a.indication}}</li>
        </ul>
    </div>
    <div>
        <button type="button" class="btn btn-info" (click)="onReturn()">retour</button>
        <button [hidden]="btnEditHide" id="editBtn" type="button" class="btn btn-success ml-1"
            (click)="edit(announcement)">edit</button>
        <button [hidden]="btnDeleteHide" id="deleteBtn" type="button" class="btn btn-danger ml-1"
            (click)="delete(announcement.id)">delete</button>
    </div>
</div>