ul{
    list-style: none;
}

#main{
border: rgb(48, 138, 85) solid 2px;
    text-align: left;
    width: 500px;
    margin: 15px auto;
    padding: 25px;
}
p:first-child, h5{
    text-align: center;
}

h5{
    margin-bottom: 25px;
}