<div class="container text-center col-lg-8 col-lg-offset-2">
    <h1>{{ 'AD.TITLE' | translate }}</h1>
    <form [formGroup]="adForm" class="form-horizontal" (ngSubmit)="submit()">
        <div class="form-group row">
            <label class="col-lg-3 control-label">{{ 'AD.title' | translate }} :</label>
            <div class="col-lg-9">
                <input type="text" id="title" name="title" formControlName="title" class="form-control" />

            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 control-label">{{ 'AD.PLACE' | translate }} :</label>
            <div class="col-lg-9">
                <!-- Default unchecked -->
                <div class="custom-control custom-radio text-left">
                    <input type="radio" class="custom-control-input" id="r1" name="jobPlace" mdbInput
                        (change)="onRadioChange($event)">
                    <label class="custom-control-label" for="r1">{{ 'AD.PLACEa' | translate }}</label>
                </div>

                <!-- Default checked -->
                <div class="custom-control custom-radio text-left">
                    <input type="radio" class="custom-control-input" id="r2" name="jobPlace" checked mdbInput
                        (change)="onRadioChange2($event)">
                    <label class="custom-control-label" for="r2">{{ 'AD.PLACEb' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 control-label">{{ 'AD.adr' | translate }} :</label>
            <div class="col-lg-9">
                <input type="text" id="address" name="address" formControlName="address" class="form-control" />

            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 control-label">{{ 'AD.DATE1' | translate }} :</label>
            <div class="col-lg-9 input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="startDateJson"
                    [ngModelOptions]="{standalone: true}" ngbDatepicker #d1="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <hr>
        <pre>Model: {{ startDateJson | json }}</pre>

        <div class="form-group row">
            <label class="col-lg-3 control-label">{{ 'AD.DATE2' | translate }} :</label>
            <div class="col-lg-9 input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="endDateJson"
                    [ngModelOptions]="{standalone: true}" ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                </div>
            </div>
        </div>
        <hr>
        <pre>Model: {{ endDateJson | json }}</pre>

        <fieldset>
            <legend>ADD</legend>
            <section *ngFor="let animal of animals; let i = index;">
                <h5 class="text-left">Animal n° {{i+1}}</h5>
                <div class="form-group row">
                    <label class="col-lg-3 control-label">{{ 'AD.type' | translate }} :</label>
                    <div class="col-lg-9">
                        <select [(ngModel)]="animal.animalType" formControlName="animalType" class="form-control selectpicker" data-live-search="true"
                            class="form-control" name="animalType_{{animal.id}}" placeholder="Dog">
                            <option *ngFor="let type of animalTypes" title="{{type}}" value="{{type}}">
                                {{type}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label">{{ 'AD.name' | translate }} :</label>
                    <div class="col-lg-9">
                        <input type="text" [(ngModel)]="animal.animalName" id="animalName_{{animal.id}}" name="animalName_{{animal.id}}" formControlName="animalName" class="form-control" />

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 control-label">{{ 'AD.indication' | translate }} :</label>
                    <div class="col-lg-9">
                        <textarea [(ngModel)]="animal.indication" type="text" id="indication_{{animal.id}}"  name="animalIndication_{{animal.id}}"formControlName="comment" class="md-textarea form-control"
                            mdbInput></textarea>
                    </div>
                </div>
                <div class="row d-flex flex-row-reverse">
                    <button type="button" class="btn btn-warning" (click)="addAnimal()">Add an other one</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeAnimal(i)">Remove</button>
                </div>
                <hr>
            </section>
        </fieldset>
        <div class="row justify-content-between p-3">
            <div>
                <button type="button" class="btn btn-info" (click)="onReturn()">retour</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="onReset()">Reset</button>
                <button type="submit" class="btn btn-success" [disabled]="!adForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>